<app-header></app-header>

<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h2 class="mb-0">Login</h2>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" id="email" [(ngModel)]="loginUserData.email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="loginUserData.password" required>
                    </div>
                    <button class="btn btn-success float-right" (click)="loginUser()" type="button">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>

<app-footer></app-footer>