<div class="container-fluid mb-5">
    <h1>Advertisement Form</h1>
    <div>
      <label>Search Box </label> &nbsp;
      <input [(ngModel)]="searchText" placeholder="Enter search text">
      <ul>
        <li *ngFor="let c of this.service.advertisement.title | filter : searchText">
          {{c}}
        </li>
      </ul>
    </div>

    <form #userForm="ngForm" *ngIf='!submitted' (ngSubmit)="onSubmit(userForm)" novalidate >

        <div class="form-group">
            <label for="title">Enter Title : </label><br>
            <input type="text"  #title="ngModel" name="title"  id="title" class="form-control" [(ngModel)]="userModel.title">
        </div>

        <div class="form-group">
            <label>Enter Name :</label><br>
            <input type= 'text' required #name='ngModel' [class.is-invalid]="name.invalid && name.touched" name="name" class="form-control" [(ngModel)]="userModel.name">
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
        </div>

        <div class="form-group">
            <label id="category">Category :</label>
            <select (blue)="categoryValidate(category.value)" (change)="categoryValidate(category.value)" class="custom-select"  #category="ngModel" [class.is-invalid]="categoryHasError && category.touched" id="category" name="category" [(ngModel)]="userModel.category">
              <option value="default">I am interested in</option>
              <option *ngFor="let category of categories">{{category}}</option>
            </select>
            <small class="text-danger" [class.d-none]="!categoryHasError || category.untouched">Select a category!</small>
          </div>

        <div class="form-group">
            <label for="description">Enter Description : </label><br>
            <input type="text" #description="ngModel" name="description" id="description" class="form-control" [(ngModel)]="userModel.description"><br><br>
        </div>

        <div class="form-buttons">
            <button [disabled]="userForm.form.invalid || categoryHasError" class="btn btn-primary" type="submit">Submit Form</button>
            
            
            <button class="btn btn-warning" (click)="onEdit()">Edit</button>
            <button class="btn btn-danger" (click)="onDelete()">Delete</button>
        </div>

        <div>
            <br><br>
            <table>
            <tr>
                <th>Title</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
            </tr>

            <tr *ngFor="let value of this.service.advertisement">
                <td>{{value.title}}</td>
                <td>{{value.name}}</td>
                <td>{{value.category}}</td>
                <td>{{value.description}}</td>
            </tr>
         </table>
        </div>
    </form>
</div>
  