<app-header></app-header>

<main>
  <div class="container marketing">
    <section class="text-center my-5">
      <div class="container">
          <h1 style="font-size: 30px;  ">Our Services</h1>
          <h5 style="font-size: 18px; color:rgb(108, 217, 250); "><em>Save Time & Money</em></h5>
            <br>
          <br>
          <!--grid 1-->
          <div class="container" style="font-size: 16px;">
              <!--grid row-->
              <div class="row">
                  <!--column 1-->
                  <div class="col-md-4">
                      <img src="../../assets/sanitizing.png" alt="" width="65%"><br><br>
                      <h5 style="font-size: 22px; color:rgb(108, 217, 250); ">SANITIZING , WAX + ANTI DUST RETAINER</h5><br>
                      <p> 
                          We do take care of your cars i.e clean them , dry them , wax them.
                          But cleeaning the exterior is not good enough. While spending most of the time mainting the exterior , 
                          we do not realize that the car exterior needs to be cleaned too.
                      </p>
                  </div>
                  <!--column 2-->
                  <div class="col-md-4">
                      <img src="../../assets/rim.png" width="80%" height="43%" alt=""><br><br>
                      <h5 style="font-size: 22px;  color:rgb(108, 217, 250);">RIM GREASE CLEANING</h5><br/><br>
                      <p>
                          Dirty rims and wheels can take joy out of any ride. Thankfully , we clean everything from 
                          baked-on to braked on messes. So we alternately day clean your brake dust and make those 
                          tire rims and wheels shine.
                      </p>
                  </div>
                  <!--column 3-->
                  <div class="col-md-4">
                      <img src="../../assets/interior.png" alt=""  width="80%" height="43%"><br><br>
                      <h5 style="font-size: 22px; color:rgb(108, 217, 250); ">INTERIOR CLEANING</h5><br/><br>
                      <p>
                          Over a period of time , plastic and wooden iteriors of cars tend to loosen up , dust and grime 
                          tend to accumulate in various corners of the car. With our premium service, you can be rest assured that the interiors will be spotless.
                      </p>
                  </div>
              </div>
          </div>
          <br><br>
      </div>
  </section>
</div>
</main>

<app-footer></app-footer>
